---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
  - name: vcxidriver.kb.io
    admissionReviewVersions:
      - v1
    clientConfig:
      service:
        name: webhook-service
        namespace: system
        path: /validate-cxi-hpe-com-v1-cxidriver
    failurePolicy: Fail
    rules:
      - apiGroups:
          - cxi.hpe.com
        apiVersions:
          - v1
        operations:
          - CREATE
          - UPDATE
        resources:
          - cxidrivers
    sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
  - name: mpod.kb.io
    admissionReviewVersions:
      - v1
    clientConfig:
      service:
        name: webhook-service
        namespace: system
        path: /mutate-v1-pod
    failurePolicy: Ignore
    namespaceSelector:
      matchExpressions:
        - key: slingshot.hpe.com/inject-sidecar
          operator: In
          values:
            - "true"
    rules:
      - apiGroups:
          - ""
        apiVersions:
          - v1
        operations:
          - CREATE
        resources:
          - pods
    sideEffects: None
